<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.CustomerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.gemtrack.servlets.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.ContactUsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdminServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserDetails</servlet-name>
        <servlet-class>com.gemtrack.servlets.GetUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contact</servlet-name>
        <servlet-class>com.gemtrack.servlets.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignupServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AdminSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserProfileServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteUserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editreturn</servlet-name>
        <servlet-class>com.gemtrack.servlets.Editreturn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdminUserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteAdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminUserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateAdminUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.FeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMainCategoryServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddMainCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubCategoryServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddSubCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubCatServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddSubCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMainCategoryServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteMainCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMainCatServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteMainCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubCatServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteSubCatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustomerUserServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateCustomerUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteContactDetailsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteContactDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMainCategoryDetailsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateMainCategoryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubCategoryDetailsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateSubCategoryDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSubProductServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddSubProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMainProductDetailsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateMainProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSubProductDetailsServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.UpdateSubProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InquiryServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.InquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSubProductServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteSubProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCart</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.AddCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet11</servlet-name>
        <servlet-class>TestServlet.TestServlet11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestingDone</servlet-name>
        <servlet-class>com.gemtrack.servlets.TestingDone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemFromAdminServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.DeleteCartItemFromAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserVerify</servlet-name>
        <servlet-class>com.gemtrack.servlets.UserVerify</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCode</servlet-name>
        <servlet-class>com.gemtrack.servlets.VerifyCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.EmailVerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerificationServlet</servlet-name>
        <servlet-class>com.gemtrack.servlets.VerificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Verify</servlet-name>
        <servlet-class>com.gemtrack.servlets.Verify</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/ContactServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUsServlet</servlet-name>
        <url-pattern>/ContactUsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdminServlet</servlet-name>
        <url-pattern>/AddAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserDetails</servlet-name>
        <url-pattern>/GetUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contact</servlet-name>
        <url-pattern>/Contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignupServlet</servlet-name>
        <url-pattern>/AdminSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserProfileServlet</servlet-name>
        <url-pattern>/DeleteUserProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editreturn</servlet-name>
        <url-pattern>/Editreturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdminUserServlet</servlet-name>
        <url-pattern>/DeleteAdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminUserServlet</servlet-name>
        <url-pattern>/UpdateAdminUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/FeedbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMainCategoryServlet</servlet-name>
        <url-pattern>/AddMainCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubCategoryServlet</servlet-name>
        <url-pattern>/AddSubCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubCatServlet</servlet-name>
        <url-pattern>/AddSubCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMainCategoryServlet</servlet-name>
        <url-pattern>/DeleteMainCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMainCatServlet</servlet-name>
        <url-pattern>/DeleteMainCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubCatServlet</servlet-name>
        <url-pattern>/DeleteSubCatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustomerUserServlet</servlet-name>
        <url-pattern>/UpdateCustomerUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteContactDetailsServlet</servlet-name>
        <url-pattern>/DeleteContactDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMainCategoryDetailsServlet</servlet-name>
        <url-pattern>/UpdateMainCategoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubCategoryDetailsServlet</servlet-name>
        <url-pattern>/UpdateSubCategoryDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSubProductServlet</servlet-name>
        <url-pattern>/AddSubProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMainProductDetailsServlet</servlet-name>
        <url-pattern>/UpdateMainProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSubProductDetailsServlet</servlet-name>
        <url-pattern>/UpdateSubProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InquiryServlet</servlet-name>
        <url-pattern>/InquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSubProductServlet</servlet-name>
        <url-pattern>/DeleteSubProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCart</servlet-name>
        <url-pattern>/AddCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartServlet</servlet-name>
        <url-pattern>/AddCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemServlet</servlet-name>
        <url-pattern>/DeleteCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet11</servlet-name>
        <url-pattern>/TestServlet11</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestingDone</servlet-name>
        <url-pattern>/TestingDone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemFromAdminServlet</servlet-name>
        <url-pattern>/DeleteCartItemFromAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserVerify</servlet-name>
        <url-pattern>/UserVerify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyCode</servlet-name>
        <url-pattern>/VerifyCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailVerificationServlet</servlet-name>
        <url-pattern>/EmailVerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerificationServlet</servlet-name>
        <url-pattern>/VerificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Verify</servlet-name>
        <url-pattern>/Verify</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <error-page>
        <erroerror-code>404</erroerror-code>
        <location>/404.jsp</location>
    </error-page>
</web-app>
